.abtHero {
  width: 100%;
  height: 100%;
  padding: 1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
}
.abtHeroLeft {
  width: 100%;
  height: 50%;
  border-radius: 8px;
}

.abtHeroLeft img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 8px;
}

.abtHeroRight {
  width: 100%;
  height: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.8rem;
}

.abtHeroRight h1 {
  font-size: 2.6em;
  font-family: heroText;
  color: rgba(255, 255, 255, 0.541);
}
.abtHeroRight h1 span {
  color: rgb(255, 255, 255);
  font-family: LogoFont;
  text-transform: uppercase;
  text-decoration: underline;
}
.txt {
  text-align: justify;
  width: 100%;
}

.txt h2 {
  font-size: 1.2em;
  font-family: marque;
  color: rgba(255, 255, 255, 0.774);
  font-weight: 400;
}

.txt h2 span {
  color: rgba(251, 255, 2, 0.925);
  text-transform: uppercase;
  text-decoration: underline;
}

.txt h4 {
  font-family: smallText;
  font-size: 0.8rem;
  font-weight: 200;
  color: rgba(255, 255, 255, 0.521);
}

.cta-button {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: clamp(0.9rem, 1vw, 1rem);
  background: linear-gradient(to right, #9c6efc, #7c4dff);
  color: white;
  font-family: smallText;
  border: none;
  border-radius: 0.75rem;
  box-shadow: 0 5px 15px rgba(124, 77, 255, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
}

.cta-button:hover {
  transform: translateY(-2px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  .abtHero {
    flex-direction: row;
    justify-content: space-between;
  }

  .ctaBtns {
    justify-content: normal;
    gap: 2rem;
  }

  .txt h4 {
    margin-top: 1rem;
  }

  .cta-button {
    width: 40vw;
  }

  .abtHeroLeft {
    width: 50%;
    height: 100%;
  }
  .abtHeroRight {
    width: 50%;
    height: 100%;
  }
  .txt {
    margin-top: 8vw;
  }
  .abtHeroLeft img {
    width: 100%;
    object-fit: cover;
    object-position: top;
  }
}

@media (min-width: 1023px) and (max-width: 2560px) {
  .abtHero {
    flex-direction: row;
    justify-content: space-evenly;
    height: 100%;
    width: 100%;
    align-items: center;
  }
  .abtHeroLeft {
    width: 35%;
    height: 50%;
    border: 1px solid white;
  }

  .abtHeroLeft img {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    transition: all ease 0.2s;
  }

  .abtHeroRight {
    width: 40%;
    aspect-ratio: 1/0.9;
    display: flex;
    height: 100%;
    justify-content: start;
    gap: 3rem;
    height: 100%;
  }

  .abtHeroRight h1 {
    font-size: 4vw;
  }
  .txt h2 {
    margin-top: -5%;
    font-size: 1.8vw;
    width: 80%;
    margin-bottom: 0.8rem;
  }
  .txt h4 {
    width: 80%;
    font-size: 1vw;
  }

  .cta-button {
    width: 20vw;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    height: 3vw;
    transition: all ease 0.3s;
  }
}

@media (min-width: 2560px) and (max-width: 3500px) {
  .abtHero {
    padding: 2vw 5vw;
    flex-direction: row;
    justify-content: space-between;
  }
  .abtHeroRight {
    justify-items: center;
    width: 50%;
    gap: 2vw;
    aspect-ratio: 2/1.5;
  }

  .abtHeroLeft img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .abtHeroLeft {
    width: 40%;
    aspect-ratio: 1/1;
  }

  .abtHeroRight h1 {
    font-size: 5vw;
  }

  .txt h2 {
    font-size: 2vw;
    width: 100%;
    margin-bottom: 0.8rem;
  }
  .txt h4 {
    width: 100%;
    font-size: 1.2vw;
  }

  .cta-button {
    width: 20vw;
    cursor: pointer;
    font-size: 1.2vw;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    height: 3vw;
    transition: all ease 0.3s;
  }
}
