#Login {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: calc(100vh - 64px);
}
.right {
  width: 100%;
  height: 65%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.right h2 {
  font-size: 3em;
  font-family: marque;
}

.left {
  width: 100%;
  height: 35%;
  padding: 1rem;
}

.left video {
  display: none;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}

form {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: space-evenly;
}

form input {
  width: 100%;
  height: 3em;
  border-radius: 5px;
  border: 1px solid white;
  margin-bottom: 1rem;
  padding: 0 1rem;
  font-family: smallText;
  outline: none;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 1px;
}

form label {
  font-size: 1rem;
  font-family: heroText;
}

.formButton {
  margin-top: 1.5rem;
  padding: 0.8rem 2rem;
  font-size: clamp(0.9rem, 1vw, 1rem);
  color: white;
  border: none;
  border-radius: 0.75rem;
  background: linear-gradient(to right, #9c6efc, #7c4dff);
  box-shadow: 0 5px 15px rgba(124, 77, 255, 0.3);
  cursor: pointer;
  transition: transform 0.2s ease;
  font-family: marque;
}

.formButton:hover {
  transform: translateY(-2px);
}

@media (min-width: 768px) and (max-width: 1023px) {
  #Login {
    width: 100%;
    height: calc(100vh - 64px);
    justify-content: space-between;
    flex-direction: row;
  }

  .left {
    width: 50%;
    height: 95%;
    padding: 1rem;
  }

  .left img {
    display: none;
  }

  .left video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .right {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
  }

  form {
    width: 100%;
    padding: 1rem;
  }

  .formButton {
    font-size: 2.4vw;
  }

  form input {
    font-weight: 100;
    font-family: inputText;
  }
}

@media (min-width: 1023px) and (max-width: 2560px) {
  #Login {
    width: 100%;
    height: calc(100vh - 80px);
    justify-content: space-between;
    flex-direction: row;
  }

  .left video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  .left img {
    display: none;
  }
  .left {
    width: 40%;
    height: 100%;
  }

  .right {
    width: 60%;
    justify-content: space-evenly;
  }

  form {
    width: 50%;
    height: auto;
    gap: 1rem;
  }
  form label {
    font-size: 1.5vw;
  }

  form input {
    height: 3.5vw;
    font-size: 1vw;
  }

  .formButton {
    font-size: 1.6vw;
    cursor: pointer;
  }
}

@media (min-width: 2560px) and (max-width: 3500px) {
  #Login {
    width: 100%;
    padding: 0 3vw;
    height: clamp(100vh - 80px);
    flex-direction: row;
  }

  .left img {
    display: none;
  }

  .left video {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }

  .left,
  .right {
    width: 50%;
    height: 90%;
  }
  .right {
    justify-content: space-around;
  }

  .right h2 {
    margin-bottom: 0;
    font-size: 5vw;
  }

  .right form {
    width: 60%;
    height: 100%;
    gap: 1rem;
  }

  form {
    gap: 1rem;
    justify-content: center;
    max-height: 80%;
    aspect-ratio: 1/2;
    font-size: 1vw;
  }

  form input {
    height: 2.5vw;
  }

  form label {
    font-size: 1.3vw;
  }

  .formButton {
    font-size: 1.7vw;
    margin-top: 1vw;
  }
}
