.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 1.5rem;
  padding-bottom: 0%;
}

.Logo {
  font-family: LogoFont;
  font-size: 2rem;
}

.leftnav {
  display: none;
}

.Hammenu {
  position: relative;
  display: block;
}

.menuIcon {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 1.5rem;
}

.hamContent {
  width: 10rem;
  height: 13rem;
  background-color: var(--text-color);
  color: var(--color-bg);
  position: fixed;
  top: 6.5%;
  right: 5%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  z-index: 5;
  border-radius: 10px;
  box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.747);
}

.active {
  width: 100%;
  text-align: center;
  background-color: rgba(128, 128, 128, 0.336);
  border-radius: 5px;
}

.hamContent p {
  font-family: navLinks;
  width: 100%;
}

.logout-button {
  border: none;
  color: var(--color-red-600);
  cursor: pointer;
  font: navLinks;
  font-size: 1em;
  padding: 0.3rem 0.77rem;
  font-weight: 700;
  border-radius: 5px;
  opacity: 0.8;
}

@media (min-width: 1023px) and (max-width: 2560px) {
  .menuIcon {
    display: none;
  }

  .navBar {
    width: 100%;
    justify-content: space-between;
    padding: 1rem 3rem;
  }

  .leftnav p {
    background-color: transparent;
    padding: 0.3rem 0.77rem;
    border-radius: 5px;
    opacity: 0.6;
    outline: none;
    transition: all ease 0.2s;
  }

  .Logo {
    font-size: 2vw;
  }

  .leftnav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .logout-button {
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font: navLinks;
    font-size: 1em;
    padding: 0.3rem 0.77rem;
    font-weight: 300;
    border-radius: 5px;
    opacity: 0.8;
  }

  .logout-button:hover {
    background-color: rgb(255, 77, 77);
    opacity: 1;
    outline: none;
    opacity: 1;
  }

  .Hammenu {
    display: none;
  }

  .leftnav p:hover {
    background-color: rgba(128, 128, 128, 0.336);
    opacity: 1;
    outline: none;
  }
}

@media (min-width: 2560px) and (max-width: 3500px) {
  .navBar {
    padding: 1vw 3vw;
  }

  .Logo {
    font-size: 2vw;
  }

  .leftnav p {
    font-size: 1vw;
    padding: 0.9rem;
    border-radius: 5px;
  }

  .leftnav p:hover {
    background-color: rgba(128, 128, 128, 0.336);
    opacity: 1;
    outline: none;
  }

  .leftnav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
  }

  .Hammenu {
    display: none;
  }

  .logout-button {
    border: none;
    color: var(--text-color);
    cursor: pointer;
    font: navLinks;
    padding: 0.8rem;
    font-size: 1vw;
    font-weight: 300;
    border-radius: 10px;
  }
  .logout-button:hover {
    background-color: rgb(255, 77, 77);
    opacity: 1;
    outline: none;
  }
}
