@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "LogoFont";
  src: url(../public/Assets/Fonts/sooner.otf);
  font-display: swap;
}

@font-face {
  font-family: "marque";
  src: url(../public/Assets/Fonts/3856NeueMachina.woff2);
  font-display: swap;
}
@font-face {
  font-family: "heroText";
  src: url(../public/Assets/Fonts/BingoRegular-aYJ8m.otf);
  font-display: swap;
}
@font-face {
  font-family: "smallText";
  src: url(../public/Assets/Fonts/Helvetica\ Condensed\ Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "navLinks";
  src: url(../public/Assets/Fonts/DaymondFreeTrial-yYPGq.otf);
}
@font-face {
  font-family: "inputText";
  src: url(../public/Assets/Fonts/GeovaTrial-Regular.ttf);
}
@font-face {
  font-family: "formInput";
  src: url(../public/Assets/Fonts/GeovaTrial-Regular.ttf);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
html,
body {
  width: 100%;
  background-color: #000;
  color: var(--text-color);
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

:root {
  --color-primary: #d96eff;
  --color-accent: #38bdf8;
  --color-bg: #060010;
  --color-bg-secondary: #18181b;
  --text-color: #ffffff;
  --color-text-muted: #a1a1aa;
  --color-border: #2e2e35;
}

.cursor {
  position: fixed;
  top: 5%;
  left: 5%;
  width: 1.5rem;
  height: 1.5rem;
  background: wheat;
  border-radius: 50%;
  z-index: 30;
  mix-blend-mode: difference;
}

/* Works on Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 1px; /* make it slim */
}

::-webkit-scrollbar-track {
  background: transparent; /* transparent track */
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* semi-transparent thumb */
  border-radius: 3px;
}

/* Optional: hover effect */
::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

/* Firefox */
* {
  scrollbar-width: thin; /* slim */
  scrollbar-color: rgba(255, 255, 255, 0.3) transparent;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

.dark {
  --background: oklch(0.129 0.042 264.695);
  --foreground: oklch(0.984 0.003 247.858);
  --card: oklch(0.208 0.042 265.755);
  --card-foreground: oklch(0.984 0.003 247.858);
  --popover: oklch(0.208 0.042 265.755);
  --popover-foreground: oklch(0.984 0.003 247.858);
  --primary: oklch(0.929 0.013 255.508);
  --primary-foreground: oklch(0.208 0.042 265.755);
  --secondary: oklch(0.279 0.041 260.031);
  --secondary-foreground: oklch(0.984 0.003 247.858);
  --muted: oklch(0.279 0.041 260.031);
  --muted-foreground: oklch(0.704 0.04 256.788);
  --accent: oklch(0.279 0.041 260.031);
  --accent-foreground: oklch(0.984 0.003 247.858);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.551 0.027 264.364);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.208 0.042 265.755);
  --sidebar-foreground: oklch(0.984 0.003 247.858);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
  --sidebar-accent: oklch(0.279 0.041 260.031);
  --sidebar-accent-foreground: oklch(0.984 0.003 247.858);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.551 0.027 264.364);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
